<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <title>Chatrooms</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

      var socket = io();

      let name = "";
      while(!name.trim()) {
        name = prompt("What is your name?");
      }

      var existing_user;   //should be user object from server

      $('#btn').click(function(){
        $("#fade").fadeIn()
      })
      $('#btn2').click(function(){
        $("#fade").fadeOut()
      })
      socket.emit("got_new_user",name);

      socket.on("new_user", function(data){
        $(".frm").text(data.info)
      });
      $("#new_post").submit(function(){
      socket.emit("new_post", {post: $("#post").val(), user: existing_user})
      return false;
      });
      socket.on("post_new_post", function(data) {
      $("#post_board").append("<p>" + data.user + ": " + data.new_post + "</p>");
      });
    })
    </script>
    <style>
      #header{
        text-align: center;
      }
      .form-control{
        height: 175px;
        width: 120px;
      }
      .user{
        height: 30px;
        width: 410px;
      }
    </style>
</head>
<body>
    <div id="header">
      <h1>Users</h1>
    </div>
    <div class="container">
      <div>
        <!-- <h2>The page at http://localhost:8000/ says:</h2>
        <p>Your Name:</p>
        <p><input type="text" id="name" class="user"></p> -->
        <p><button id="btn2" class="btn btn-primary">Disconnect</button>|
          <button id="btn" class="btn btn-success">Enter Your Name</button>
        </p>
      </div>
      <div id="fade" hidden>
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
          <h3 class="frm"></h3>
        </div>
        <div id="post_board"></div>
          <form id="new_post">
            <input class="form-control" type="text" id="post" placeholder="enter your post here">
            <input class="btn btn-primary" type="submit" value="submit">
          </form>
        </div>
      </div>
  </div>
</body>
</html>
