<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>    
</head>
<body>
    <h1>Cars!!Cars!!Cars!!</h1>
    <div>
        <h1>This is my favorite car.</h1>
        <img src="images/ftype.jpg">
        <img src="images/lovely.jpg">
        <img src="images/mycar.jpg">
    </div>
    <a href="/index.html"><button>Back</button></a>
</body>
</html>