/* You can add global styles to this file, and also import other style files */
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
.container{
  text-align: center;
  background-image: linear-gradient(to top left,#C2D307,#0ED2DC);
  height: 800px;
  width: 1350px;
}
