<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Here are the awesome quotes!</h1>
        <% for (var quote of quotes) { %>
            <h3>"<%=quote.quote%>"</h3>
            <p><%=quote.name%> at <%= moment(quote.createdAt).format("hh:mm a, MMMM DD YYYY") %></p>        
        <a href="/" class="btn btn-primary" type='submit'>Go Back</a>
        <% } %>
    </div>
</body>
</html>