<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Quoting Dojo</title>
</head>
<body class="wrapper">
    <a href="/" class="btn btn-primary" type='submit'>Go Back</a>
    <div class="container">      
        <h1>Here are the awesome quotes!</h1>
        <% for (var quote of quotes) { %>
            <h3>"<%=quote.quote%>"</h3>
            <p><%=quote.name%> at <%= moment(quote.createdAt).format("hh:mm a, MMMM DD YYYY") %></p>        
        <% } %>
    </div>
</body>
</html>